.textLikes:hover ~ ul{
    display: inline-block;
    opacity: 90%;
}

#card {
    min-width: 45vw;
    max-width: 45vw;
    min-height: 12vw;
}

.actionsPost ul {
    display: none;
    opacity: 0%;
    background-color: gray;
    position: absolute;
    z-index: 1;
    color:white;
    font-family: 'Nunito';
    font-size: .8vw;
    text-decoration:none;
    list-style: none;
    padding: .5vw;
    border-radius: .5vw;
    bottom: 6vw;
    left: .5vw;
}
.actionsPost ul #LikeTitle {
    text-align: center;
    color: #ffd000;
}

.actionsPost {
    height: 1.8vw;
}

.textLikes {
    color:#a5a5a5;
    font-size: 1vw;
    cursor: pointer;
}
.textCommentarys {
    color:#a5a5a5;
    font-size: 1vw;
}
.ButtonActionPost {
    color:#a5a5a5;
    min-width: 1.2vw;
    min-height: 1.2vw;
}
.ButtonActionPost:hover {
    color:#ffd000;
}
#OLikes {
    font-size: 1vw;
    color:#a5a5a5;
}
.actionLikes {
    display: flex;
    padding-right: 1.5vw;
}

.inputsdeComments {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inputsdeComments #filled-multiline-static{
  width: 35vw;
  background-color: #3b3b3b;
  border-radius: 1vw;
  margin-bottom:.5vw;
  padding-bottom:.5vw;
  color: white;
  height: 1vw;
}

.inputsdeComments label {
  color: #a5a5a5;
  font-size: 1vw;
}

.inputsdeComments #postCommentButton {
    font-size: 1vw;
}

.optionsPopper {
    display: flex;
    justify-content: right;
    margin-top: -2.6vw;
    margin-right: .5vw;
}
.banContainer {
    right:60px;
    top: 20px;
    position: absolute;
}

.userInfo{
    display: flex;
    justify-content: left;
}

#postText {
    padding: 0px;
    padding-top: .5vw;
    padding-left: 1vw;
    max-width: 95%;
    font-size: 1vw;
    word-wrap: break-word;
}

@media (max-width:600px) {
    #card {
        width: 350px;
    }

    .inputsdeComments #filled-multiline-static{
        width: 300px;
        background-color: #3b3b3b;
        border-radius: 15px;
        padding-bottom:15px;
        margin:5px;
        margin-top: 0px;
        color: white;
        height: 7px;
    }
    .inputsdeComments label {
        margin:-2px;
        margin-left: 5px;
    }
    .inputsdeComments button {
        width: 100px;
        margin-right: 5px;
    }
    .actionsPost {
        height: 35px;
    }
    .banContainer {
       width: 100px;
       margin-top: 10px;
       right: 15px;
    }
}

