.landing {
    background-color:#ffd000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    min-width: 100vw;
    height: 100vh;
    width: 100vw;
}

.landing .form {
    position: absolute;
    width: 25vw;
    height: 32vw;
    top:30%;
    right: 8%;
    border-radius: 1.5vw;
    padding: 3vw;
    padding-top: 0vw;
    background-color: gainsboro;
    border: .1vw solid rgb(194, 194, 194);
}

.landing .bottomButtons {
    margin-left: 6.5vw;
    margin-top: 0vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: .9vw;
}

.landing .GoogleButton {
    margin-top: 1vw;
    margin-left: 2.6vw;
    max-width: 15vw;
    min-width: 15vw;
}

.landing #logoLanding {
    position: absolute;
    width: 16vw;
    height: 5vw;
    top: 5%;
    right: 12%;
}

#changeForm {
    width: 5vw;
}

.ReviewContainer {
    position: absolute;
    font-family: 'Nunito';
    width: 47vw;
    height: 43vw;
    top: 7%;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ReviewContainer #ReviewCard0 {
    min-width: 10vw;
    width: fit-content;
    word-wrap: break-word;
    border-radius: 2vw;
}
.ReviewContainer #ReviewCard1 {
    min-width: 10vw;
    width: fit-content;
    margin-left: 30vw;
    word-wrap: break-word;
    border-radius: 2vw;
}
.ReviewContainer #ReviewCard2 {
    min-width: 10vw;
    width: fit-content;
    word-wrap: break-word;
    border-radius: 2vw;
}

#TitleReviews {
    position: absolute;
    left: 35%;
    top: -10%;
    font-family: 'Nunito';
    font-size: 1.8vw;
    font-weight: bold;
    background-color: yellow;
    padding: .5vw;
    border-radius: 2vw;
    border-bottom: .1vw solid #2a2a2a;
    color: #2a2a2a;
}

@media (max-width:600px) {
    .landing .carousel {
        display: none;
    }
    .landing .ReviewContainer {
        display: none;
    }
    .landing .form {
        position: relative;
        width: 75vw;
        height: 72vh;
        top:20%;
        left: 12%;
        border-radius: 1.5vw;
        padding: 3vw;
    }
    
    .landing #logoLanding {
        width: 60vw;
        height: 20vw;
        top: 5%;
        right: 19%;
    }
    .landing .bottomButtons {
        margin-left: 20vw;
        margin-top: 0vw;
        padding-right: 2vw;
        padding-left: 2vw;
        font-size: 3.5vw;
    }
    .landing #changeForm {
        width: 30vw;
    }
    .landing .GoogleButton {
        margin-top: 6vw;
        margin-left: 4vw;
        max-width: 60vw;
        min-width: 60vw;
    }
}
