#location {
    color:red
}

#dateHour {
    color:white;
}

.banContainerEvent {
    font-family: 'Nunito';
    margin-bottom: 10px;
}

@media (max-width:600px) {
    #EventCard {
        min-width: 80vw;
        max-width: 80vw;
        min-height: 25vw;
        border-radius: 2vw;
    }
}