a{
    text-decoration: none;
    color: #ffd000;
}
#navbar {
    min-height: 5vw;
    max-height: 5vw;
}
#barrabusquedaEvents {
    color:white;
    border: .1vw solid gray;
    border-radius: .5vw;
    min-width: 12vw;
    max-width: 12vw;
    font-size: 1vw;
    background-color: #3b3b3b;
    min-height: 1vw;
    max-height: 1vw;
}
.headerModal label{
    color:white;
}

#ToolBar {
    min-height:5vw;
    max-height:5vw;
    min-width:90vw;
    max-width:90vw;
}

#logoHome {
    width: 18vw;
    padding-top: 0vw;
}

.iconButton {
    min-width:4vw;
    min-height:2vw;
    max-height:2vw;
    max-width:4vw;
}
  
.iconPNG {
    min-width:2vw;
    min-height:2vw;
    max-height:2vw;
    max-width:2vw;
}


@media (max-width:600px) {
    .iconButton {
      min-width:8vw;
      min-height:4vw;
      max-height:4vw;
      max-width:8vw;
    }
    .iconPNG {
      min-width:6vw;
      min-height:6vw;
      max-height:6vw;
      max-width:6vw;
    }
  }