.Home {
    max-width: 100vw;
    min-height: 100vh;
    background-color: #242424;
}

.navbar {
    min-height: 5vw;
    max-height: 5vw;
}
.navbarMobile {
    display: none;
}

.Home .media-part {
    display: flex;
    justify-content: space-between;
    background-color: #3b3b3b;
}

.Home .media-part .leftHome {
    width: 21vw;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2vw;
}
.Home .media-part .rightHome {
    width: 21vw;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2vw;
}

#buttonPost {
    min-width:4.5vw;
    max-width: 4.5vw;
    min-height: 4.5vw;
    max-height:4.5vw;
    position: fixed;
    border: .1vw solid transparent;
    bottom: 5vw;
    right: 5vw;
    transition: all 0.2s;
}
#buttonPost:hover {
    cursor: pointer;
    background-color: rgb(255, 208, 0);
    border: .2vw solid white;
    transform: scale(110%);
}

.pays #textComment {
    color: greenyellow;
    margin-left: 150px;
}

.media-part .centerHome {
    background-color: transparent;
}

.banMessage {
    border: 1px solid red;
    background-color: pink;
    color: rgb(164, 0, 0);
    font-family: 'Nunito';
    width: 500px;
    text-align: center;
    padding: 15px;
    height: 200px;
    border-radius: 25px;
    position: absolute;
    top: 30%;
    left: 30%;
}

.banMessage #logoutBanned {
    position: absolute;
    bottom: 4%;
    right: 2%;
    border-radius: 25px;
}

.HomeBanned {
    width: 100vw;
    height: 100vh;
    background-color:#3b3b3b;
}

.banMessage h3 {
    color: rgb(114, 0, 0);
}

.leftHome .finded-persons {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color:#101010;
    border-radius: 15px;
    margin-bottom: 15px;
}

.cardFinded {
    display:flex;
}

.titleName a{
    text-decoration: none;
    color:white;
}

@media (max-width:600px) {
    .Home {
        min-width: 100vw;
        min-height: 90vh;
        max-width: 100vw;
    }
    .Home .media-part {
        min-width: 100vw;
        justify-content: center;
    }
    .Home .media-part .leftHome {
        display: none;
    }
    .Home .media-part .rightHome {
        display: none;
    }
    .Home .media-part .centerHome {
        display: flex;
        justify-content: center;
        min-width: 100vw;
        max-width: 100vw;
    }
    .navbar {
        display: none;
    }
    .navbarMobile {
        display: block;
    }
    .HomeBanned {
        min-width: 100vw;
        min-height: 100vw;
    }
    .banMessage {
        width: 70%;
        height: 35%;
        font-size: 15px;
        top: 20%;
        left: 12%;
    }
    #buttonPost {
        min-width:15vw;
        max-width: 15vw;
        min-height: 15vw;
        max-height:15vw;
        position: fixed;
        border: .1vw solid transparent;
        bottom: 15vw;
        right: 10vw;
        transition: all 0.2s;
    }
}